@{
    ViewBag.Title = "About";
    ViewBag.Message = "What's this all about?";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Shelfish was created as a final Red Badge project for the Eleven Fifty Academy's Software Development course by Blake Kendall. 
    Inspired by apps like Goodreads, and always needing a way to keep track of what books he's read or hoping to read in the future, 
    Blake hopes you can find this useful for whatever kind of reader you are.</p>
