@{
    ViewBag.Title = "About";
    ViewBag.Message = "What's this all about?";
}
<h2>@ViewBag.Title</h2>
<br />
<h3>@ViewBag.Message</h3>
<br />
<div class="container" id="aboutText">
    <p>Shelfish was created as a final Red Badge project for the Eleven Fifty Academy's Software Development course by Blake Kendall.</p>

    <p>
        Inspired by apps like Goodreads, and always needing a way to keep track of what books he's read or hoping to read in the future,
        Blake hopes you can find this useful for whatever kind of reader you are.
    </p>

    <p>
        <strong>To get started:</strong> First register for a free account, then click on Authors in the top navigation bar to create and add your authors.
    </p>

    <p>
        Then, click on Books to create and add the books for the authors you've added. Follow the same process for Audiobooks.
        Finally, click on Bookshelves to create and add a shelf to hold the books you've added. Once a shelf is created, you can access dropdown lists of all
        available books on the Bookshelf's Details page. Add your books or audiobooks there, and you're all done! Your bookshelves are organized!
    </p>

    <p>
        If you'd like to add reviews for any books you have read or are currently reading, note the book's ID # in its Detail page, and click on Reviews at the top of the page to create your own reviews.
    </p>

    <p>

        <i>
            If you need some inspiration for your next read, check out the Literary Hub RSS feed on the main page!
        </i>
    </p>
    
</div>

<br />
