@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Here's how to get in touch.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>If you have any questions or concerns, please reach out! I welcome your feedback!</p>

<address>
    Beech Grove, IN 46107<br />
    <abbr title="Phone">P:</abbr>
    812.374.4590
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:blake.e.kendall@gmail.com">blake.e.kendall@gmail.com</a><br />
</address>