@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Here's how to get in touch.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>If you have any questions or concerns, please reach out! I welcome your feedback!</p>

<address>
    <strong>Support:</strong>   <a href="mailto:blake.e.kendall@gmail.com">blake.e.kendall@gmail.com</a><br />
</address>

<p>If you enjoy my work, you can check out more on my Github page. You can also find my LinkedIn page and my Github Portfolio by following the links below if you'd like to learn more about me.</p>

<div class="row justify-content-center" id="contactIconRow">
    <div class="col">
        <a href="https://www.linkedin.com/in/blake-e-kendall33/" target="_blank">
            <i class="fab fa-linkedin" id="socialIcons"></i>
        </a>
        <a href="https://github.com/BlakeEKendall/" target="_blank">
            <i class="fab fa-github" id="socialIcons"></i>
        </a>
    </div>
</div>
