@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="getJumbo">
    <div class="text-center" id="jumboContent">
        <h1><i class="fas fa-book" id="jumboIcon"></i>Shelfish</h1>
        <p class="lead">Shelfish is an application that helps you to create and manage your virtual book collection using a .Net Framework MVC. 
            Whether you're a new reader or a seasoned bookworm; reading for fun or doing research for school; or just need to get organized, we're here to help!</p>
        <button class="btn btn-info btn-lg" id="jumboButton">@Html.ActionLink("Get Started", "Index", "Author")</button>
    </div>
</div>

<div class="row text-center">
    <div class="col-md">
        <!-- start sw-rss-feed code -->
        <script type="text/javascript">

            <!--
            rssfeed_url = new Array();
            rssfeed_url[0] = "https://lithub.com/feed/";
            rssfeed_frame_width = "1000";
            rssfeed_frame_height = "260";
            rssfeed_scroll = "on";
            rssfeed_scroll_step = "8";
            rssfeed_scroll_bar = "off";
            rssfeed_target = "_blank";
            rssfeed_font_size = "20";
            rssfeed_font_face = "";
            rssfeed_border = "on";
            rssfeed_css_url = "";
            rssfeed_title = "on";
            rssfeed_title_name = "";
            rssfeed_title_bgcolor = "#17a2b8";
            rssfeed_title_color = "#000";
            rssfeed_title_bgimage = "";
            rssfeed_footer = "off";
            rssfeed_footer_name = "rss feed";
            rssfeed_footer_bgcolor = "#fff";
            rssfeed_footer_color = "#333";
            rssfeed_footer_bgimage = "";
            rssfeed_item_title_length = "50";
            rssfeed_item_title_color = "#666";
            rssfeed_item_bgcolor = "#fff";
            rssfeed_item_bgimage = "";
            rssfeed_item_border_bottom = "on";
            rssfeed_item_source_icon = "off";
            rssfeed_item_date = "off";
            rssfeed_item_description = "on";
            rssfeed_item_description_length = "120";
            rssfeed_item_description_color = "#666";
            rssfeed_item_description_link_color = "#333";
            rssfeed_item_description_tag = "off";
            rssfeed_no_items = "0";
            rssfeed_cache = "c1e0b2be955588620bb0b5e25ea1be62";
            //-->
        </script>
        <script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script>
        <!-- The link below helps keep this service FREE, and helps other people find the SW widget. Please be cool and keep it! Thanks. -->
        <div style="color:#ccc;font-size:10px; text-align:right; width:1000px;">powered by <a href="https://surfing-waves.com" rel="noopener" target="_blank" style="color:#ccc;">Surfing Waves</a></div>
        <!-- end sw-rss-feed code -->

    </div>
</div>