@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <div class="navbar-nav navbar-right">
        <span class="navbar-text" id="HelloName">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </span>
        <a class="nav-item nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    </div>
    }
}
else
{
    <div class="navbar-nav navbar-right">
        <a class="nav-item nav-link">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</a>
        <a class="nav-item nav-link">@Html.ActionLink("Log In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</a>
    </div>
}
