body {
    padding-top: 5em;
    padding-bottom: 20px;
    font-family: 'Merriweather', serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Icons*/



/*Navbar*/

#HelloName {
    padding-left: 10px;
}

.pull-right {
    float: right !important;
}

a {
    color: black;
}

a:hover {
        text-decoration: none;
        background-color: transparent;
        color: orangered;
}


/*Jumbotron & Headers*/
#getJumbo {
    background-image: url('../Images/matt-artz-F6bNgXglBU0-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2 {
    font-family: 'Special Elite', cursive;
}

